
    body{
    text-align:center;
    margin-top:5%;
    }

    .main-div{
    font-family:'Almarai', sans-serif;
    align-content: center;
    }
    
    .button{
    font-size: 20px;
    font-family:'Almarai', sans-serif;
    }
    